@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* this will apply to everything */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: #fff;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.section-title {
font-size: 4rem;
font-weight: 300;
color:black;
margin-bottom: 10px;
text-transform: uppercase;
text-align: center;
}
 .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 3px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease;
    
}
.cta:hover {
color: #fff;
background-color: crimson;
}
.creator h1 {
font-size: 3rem;
text-transform: uppercase;
color: #fff;
}
/* Hero section */
#hero{
    background-image: url(../images/hero-port.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start
}
#hero h1 {
    display: block;
    width:fit-content;
    font-size: 4rem;
    position: relative;
    color: #fff;
}

/* Hero section ends */

/* Projects section */
#projects .projects {
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex: 1  0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p {
    color: #fff;
}
#projects .project-img {
    flex: 1 0 auto;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#projects .project-image img {
    transition: all 500ms;
}
#projects .project-item:hover img {
    transform: scale(1.1);
}
.runbuddy-link {
    display: block;
    height: 100%;
    position: relative;
    transition: all 500ms;
}
.runbuddy-link:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/Run-buddy.JPG");
    background-size: cover;
}
.runbuddy-link:hover {
    transform: scale(1.1);
}

/*projects section ends */

/* About me section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .left {
    width: 250px;
    height: 360px;
}
#about .right {
    width: 100%;
}
#about .right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#about .right p {
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
#about .right .cta {
    color: black;
    margin-bottom: 30px;
}
/* About me section ends */

/* Contact Me section starts */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 70%;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* Contact Me section ends*/
/* footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer p {
    color: #fff;
    font-size: 1.5em;
}
/* footer ends*/

