@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* this will apply to everything */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: #fff;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.section-title {
font-size: 4rem;
font-weight: 300;
color:black;
margin-bottom: 10px;
text-transform: uppercase;
text-align: center;
}
 .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 3px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease;
    
}
.cta:hover {
color: #fff;
background-color: crimson;
}
.creator h1 {
font-size: 3rem;
text-transform: uppercase;
color: #fff;
}
/* Header section */
#header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
.nav-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav-list ul a {
    font-size: 1.55vw;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
}
.nav-list ul li a:hover {
    color: crimson;
    border-radius: 15px;
    text-shadow: none;
}

/* Header section ends */
/* Hero section */
#hero{
    background-image: url(../images/hero-port.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start
}
#hero h1 {
    display: block;
    width:fit-content;
    font-size: 4rem;
    position: relative;
    color: #fff;
}

/* Hero section ends */

/* Projects section */
#projects .projects {
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex: 1  0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p {
    color: #fff;
}
#projects .project-img {
    flex: 1 0 auto;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#projects .project-image img {
    transition: all 500ms;
}
#projects .project-item:hover img {
    transform: scale(1.1);
}
.runbuddy-link {
    display: block;
    height: 100%;
    position: relative;
    transition: all 500ms;
}
.runbuddy-link:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/Run-buddy.JPG");
    background-size: cover;
}
.runbuddy-link:hover {
    transform: scale(1.1);
}

/*projects section ends */

/* About me section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .left {
    width: 250px;
    height: 360px;
}
#about .right {
    width: 500px;
    margin:auto
}
#about .right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#about .right p {
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
#about .right .cta {
    color: black;
    margin-bottom: 30px;
}
/* About me section ends */

/* Contact Me section starts */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 60%;
    padding-left: 3%;
}
#contact .contact-item {
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex: 1  0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* Contact Me section ends*/
/* footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer p {
    color: #fff;
    font-size: 1.5em;
}
/* footer ends*/

/* @Media Query for smaller desktop and smaller*/
@media screen and (max-width: 980px) {
/* this will be applies on any screen smaller than 980px */
.contact-container{
    align-items: center;
}
.contact-items .contact-item {
    align-items: center;
}
.section-title h1{
    align-items: center;

}
}
/* @Media Query for smaller desktop and smallerENDS*/

/* @Media Query for tablets and smaller*/
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575 px*/
.cta {
    font-size: 2.5rem;
    padding: 20px 60px;
}
h1.section-title {
    font-size: 6rem;
}
.hero h1 {
    font-size: 7rem;
}

#projects .project-item {
    height: 200;
    margin: 0;
    width: 100%;
}
#projects .all-projects .project-info {
    height: 100%;
}

#about .about {
    flex-direction: row;
}
#about .left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
}
#about .right {
    text-align: left;
    padding: 30px;
}
#about .right h1 {
    text-align: left;
}
#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
.contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
}
.contact-item {
    margin: 20px;
    flex-direction: row;
}
.contact-item .icon {
    height: 100px;
    width: 100px;
}
.contact-item .icon img {
    object-fit: contain;
}

}
/* @Media Query for tablets and smaller ENDS*/


/* @Media Query for Mobile Phones and smaller*/
@media screen and (max-width: 575px){
    /* this will be applied on any screen smaller than 575*/

.cta {
    width: 100%;
}
.contact-item  {
    flex: 0 100%;
}
#about .about {
    flex-direction: row;
}
#about .left {
    width: 400px;
    height: 200px;
    padding-left: 40px;
}
#about .right {
    text-align: left;
    padding: 10px;
}
#about .right h1 {
    text-align: left;
    
}
.runbuddy-link:after {
    background-image: url("../images/Run-buddy-small.JPG");
}
}
/* @Media Query for Mobile Phones and smaller ENDS*/